@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 700px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-mc: 1416px; /* mainColumnWidth + 2*smGutter */
  --breakpoint-bg: 1536px;
  --breakpoint-vbg: 1920px;
  --breakpoint-huge: 2400px;

  --shadow-*: initial;
  --shadow-none: 0px 0px 0px rgba(255, 255, 255, 0);
  --shadow-subtle: 0px 1px 2px rgba(44, 51, 85, 0.1);
  --shadow-soft: 0px 10px 35px rgba(44, 51, 85, 0.15);
  --shadow-strong: 0px 15px 50px rgba(44, 51, 85, 0.25);

  /* need to pass spacing sizes into here too */
  --radius-*: initial;
  --radius-1: 8px;
  --radius-2: 16px;
  --radius-3: 24px;
  --radius-4: 32px;
  --radius-none: 0px;
  --radius-subtle: 4px;
  --radius-soft: 16px;
  --radius-strong: 24px;
  --radius-full: 9999px;

  --spacing: 1px;
  --spacing-0: 0px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --spacing-50: 50%;
  --spacing-half: 50%;
  --spacing-100: 100%;
  --spacing-full: 100%;
  /* global layout */
  --spacing-initGutter: 24px;
  --spacing-smGutter: 32px;
  --spacing-mainColumnWidth: 1352px;
  --spacing-mainColumnGutter: calc(
    (100vw - var(--spacing-mainColumnWidth)) / 2
  );

  --gap-init: 16px;
  --gap-sm: 24px;
  --gap-md: 24px;
  --gap-lg: 40px;
}
